.App {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: auto;
    font-family: 'Schoolbell', cursive;
    background-color: #bee6ff;
    color: #293A44;
}