.search {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-top: 30px;
}

.button {
    cursor: pointer;
    outline: 0;
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 6px 12px;
    font-size: 1rem;
    border-radius: .25rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    color: #05324e;
    border-color: #05324e;
}

.button:hover {
    color: #e8eee2;
    background-color: #05324e;
    border-color: #05324e;
}


