.type-city-prompt {
    margin-top: 15px;
    font-size: 1.8rem;
}

.search {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-bottom: 20px;
}

.textbox {
    margin-right: 5px;
    border-radius: 7px;
}

.button {
    cursor: pointer;
    outline: 0;
    display: inline-block;
    font-weight: 700;
    font-family: 'Indie Flower', cursive;
    line-height: 1.5;
    text-align: center;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 6px 12px;
    font-size: 1rem;
    border-radius: .25rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    color: #1c5dd8;
    border-color: #1c5dd8;
}

.button:hover {
    color: #e8eee2;
    background-color: #1c5dd8;
    border-color: #1c5dd8;
}


