.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.title-container {
    display: flex;
    font-size: 2rem;
}

.temp-container {
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
}

.weather-description {
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 40px;
    font-size: 1.5rem;
}

.desc-container {
    display: flex;
    flex-direction: column;
    width: 500px;
    height: auto;
    margin-bottom: 10px;
    font-size: 2rem;
}
