.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.container_title {
    display: flex;
    font-size: 2rem;
}

.temp-container {
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
}

.container_description {
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 40px;
    font-size: 1.5rem;
}

.container_desc {
    display: flex;
    flex-direction: column;
    width: 200px;
    height: auto;
    margin-bottom: 10px;
    font-size: 2rem;
}
